<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mapen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Mapen"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/mapen_style">
        <activity android:name=".kegiatan.DetailLogKegiatan"></activity>
        <activity android:name=".skp.DetailSKP" />
        <activity android:name=".presensi.TabelPresensi" />
        <activity android:name=".presensi.WaktuPresensi" />
        <activity android:name=".presensi.Presensi" />
        <activity android:name=".kegiatan.EditLogKegiatan" />
        <activity android:name=".kegiatan.TabelLogKegiatan" />
        <activity android:name=".kegiatan.LogKegiatan" />
        <activity android:name=".skp.NilaiSKP" />
        <activity android:name=".skp.EditSKP" />
        <activity android:name=".skp.TabelSKP" />
        <activity android:name=".skp.PengajuanSKP" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".profil.ChangePassword" />
        <activity android:name=".profil.EditProfil" />
    </application>

</manifest>